In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("sfdc_final.xlsx")

In [ ]:
df

,Opportunity ID 18,Opportunity Name,Type,Close Date,Stage,Created Date,Product Name,Quantity (in Pieces/Pairs/Cases ),UOM,Sales Price (converted),...,Product SBU,M4 Category,M4 Family,M4 Group,NAICS,Sub-Vertical (Reporting),Vertical (Reporting),Primary Selling UOM,Account Record Type,Sub-Region
0,0060o00001UfQDKAA3,Fife Milguard 87-224,Recurring Business,2022-04-26,Closed-Won,2021-02-26,"ALPHATEC 87224 VEND PACK SIZE 10,0",400,PR,1.56,...,CHEM,UNLINED,GLOVES,NATURAL RUBBER,326199,Plastics & Rubber,Chemicals,CASE,End-Users,USA
1,0060o00001Sg4QEAAZ,Cannon Automotive Solutions Bowling Green Mult...,Recurring Business,2020-10-16,Closed-Won,2020-09-10,"ALPHATEC 87224 VEND PACK SIZE 10,0",250,PR,1.37,...,CHEM,UNLINED,GLOVES,NATURAL RUBBER,332119,Metal Products Manufacturing,Industrial Equipment & Machinery,CASE,End-Users,USA
2,0060o00001WJnEYAA1,FORT AMANDA SPECIALTIES LIMA MULTIPLE,Recurring Business,2022-02-26,Closed-Won,2021-06-04,"ALPHATEC 87224 VEND PACK SIZE 10,0",1728,PR,0.96,...,CHEM,UNLINED,GLOVES,NATURAL RUBBER,424690,Wholesaler,Chemicals,CASE,End-Users,USA
3,0060o00001ZZq5hAAD,"Asahi Kasei Fowlerville, MI RIGS",One-off,2021-11-29,Closed-Won,2021-11-03,ACTIVARMR 96001 RIG CANVAS BAG 11,9,PIECE,14.00,...,Mechanical,ELECTRICAL OTHER,GLOVES,ELECTRICAL,325211,Plastics & Rubber,Chemicals,CASE,End-Users,USA
4,0060o00001XJsGUAA1,"Hasa, Pomona CA,",Recurring Business,2021-08-31,Closed-Won,2021-07-19,MICROFLEX 93260 SIZE L (8.5-9.0),12,PIECE,137.40,...,SU/EXAM,NITRILE AND NEOPRENE,HIGH RISK,PREMIUM POLYMERS,325180,Basic Chemicals,Chemicals,CASE,End-Users,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5906,0060o00001ZCLbNAAX,"Western States Cat, Boise, ID, 48-919",Recurring Business,2022-04-28,Closed-Won,2021-12-16,"HYFLEX 11939 SIZE 11,0",500,PAIR,7.97,...,MECH,MEDIUM DUTY,GLOVES,CUT,423810,IEM Sales and Service,Industrial Equipment & Machinery,CASE,End-Users,USA
5907,0060o00001ZCLbNAAX,"Western States Cat, Boise, ID, 48-919",Recurring Business,2022-04-28,Closed-Won,2021-12-16,"HYFLEX 11939 SIZE 9,0",1,PAIR,7.97,...,MECH,MEDIUM DUTY,GLOVES,CUT,423810,IEM Sales and Service,Industrial Equipment & Machinery,CASE,End-Users,USA
5908,0060o00001ZCLbNAAX,"Western States Cat, Boise, ID, 48-919",Recurring Business,2022-04-28,Closed-Won,2021-12-16,"EDGE 48919 SIZE 10,0",1000,PAIR,1.79,...,MECH,LIGHT DUTY,GLOVES,OIL,423810,IEM Sales and Service,Industrial Equipment & Machinery,CASE,End-Users,USA
5909,0060o00001ZCLbNAAX,"Western States Cat, Boise, ID, 48-919",Recurring Business,2022-04-28,Closed-Won,2021-12-16,"EDGE 48919 SIZE 11,0",1000,PAIR,1.79,...,MECH,LIGHT DUTY,GLOVES,OIL,423810,IEM Sales and Service,Industrial Equipment & Machinery,CASE,End-Users,USA
5910,0060o00001ZCLbNAAX,"Western States Cat, Boise, ID, 48-919",Recurring Business,2022-04-28,Closed-Won,2021-12-16,"EDGE 48919 SIZE 12,0",1000,PAIR,1.79,...,MECH,LIGHT DUTY,GLOVES,OIL,423810,IEM Sales and Service,Industrial Equipment & Machinery,CASE,End-Users,USA

In [ ]:
sfdc_group = df.groupby(['NAICS']).describe()
# sfdc_group = pd.DataFrame(sfdc_group.first())

In [ ]:
avg_price = pd.DataFrame(sfdc_group["Total Price (converted)"]["mean"])

In [ ]:
avg_price

                mean
NAICS
312230  25437.500000
313230   6000.000000
313310  14804.000000
313320   4495.500000
314110  10257.149167
...              ...
562920   8585.333333
562991   2257.250000
562998  15806.000000
811310   2608.361389
999990   4155.764706

[167 rows x 1 columns]

In [ ]:
company_df = pd.read_excel("NAICS_total_employee.xlsx")

In [ ]:
company_df

,NAICS Code,2022 NAICS Title,Vertical,Sub-vertical,Uncoded records,1 - 4 employees,5 - 9 employees,10 - 19 employees,20 - 49 employees,50 - 99 employees,100 - 249 employees,250 - 499 employees,500 - 999 employees,"1,000+ employees",Grand Total,Unnamed: 15,Total Employees
0,312230.0,Tobacco Manufacturing,Industrial Equipment & Machinery,Non-Food Light Manufacturing,75.0,244.0,49.0,27.0,12.0,13.0,13.0,7.0,3.0,12.0,455.0,NaN,21781
1,313110.0,"Fiber, Yarn, and Thread Mills",Industrial Equipment & Machinery,Non-Food Light Manufacturing,99.0,504.0,51.0,40.0,32.0,26.0,27.0,4.0,9.0,11.0,803.0,NaN,29010
2,313210.0,Broadwoven Fabric Mills,Industrial Equipment & Machinery,Non-Food Light Manufacturing,251.0,3461.0,392.0,213.0,151.0,76.0,53.0,25.0,20.0,17.0,4659.0,NaN,74496
3,313220.0,Narrow Fabric Mills and Schiffli Machine Embro...,Industrial Equipment & Machinery,Non-Food Light Manufacturing,46.0,214.0,61.0,52.0,46.0,20.0,17.0,5.0,0.0,2.0,463.0,NaN,11595
4,313230.0,Nonwoven Fabric Mills,Industrial Equipment & Machinery,Non-Food Light Manufacturing,43.0,65.0,19.0,21.0,30.0,22.0,12.0,9.0,3.0,5.0,229.0,NaN,16003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,335129.0,Other Lighting Equipment Manufacturing,Industrial Equipment & Machinery,Non-Food Light Manufacturing,103.0,1239.0,181.0,121.0,109.0,33.0,35.0,8.0,3.0,9.0,1841.0,NaN,32225
236,337124.0,Metal Household Furniture Manufacturing,Industrial Equipment & Machinery,Non-Food Light Manufacturing,26.0,190.0,65.0,56.0,33.0,18.0,21.0,4.0,1.0,1.0,415.0,NaN,11105
237,337125.0,Household Furniture (except Wood and Metal) Ma...,Industrial Equipment & Machinery,Non-Food Light Manufacturing,23.0,283.0,54.0,45.0,25.0,11.0,11.0,2.0,3.0,1.0,458.0,NaN,9244
238,811212.0,Computer and Office Machine Repair and Mainten...,Industrial Equipment & Machinery,IEM Sales and Service,570.0,10852.0,1247.0,540.0,224.0,56.0,35.0,16.0,10.0,2.0,13552.0,NaN,72198
239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total Employee Estimated,13317671

In [ ]:
merge_df = pd.merge(company_df, avg_price, left_on="NAICS Code", right_on="NAICS", how='left')

In [ ]:
merge_df

,NAICS Code,2022 NAICS Title,Vertical,Sub-vertical,Uncoded records,1 - 4 employees,5 - 9 employees,10 - 19 employees,20 - 49 employees,50 - 99 employees,100 - 249 employees,250 - 499 employees,500 - 999 employees,"1,000+ employees",Grand Total,Unnamed: 15,Total Employees,mean
0,312230.0,Tobacco Manufacturing,Industrial Equipment & Machinery,Non-Food Light Manufacturing,75.0,244.0,49.0,27.0,12.0,13.0,13.0,7.0,3.0,12.0,455.0,NaN,21781,25437.500
1,313110.0,"Fiber, Yarn, and Thread Mills",Industrial Equipment & Machinery,Non-Food Light Manufacturing,99.0,504.0,51.0,40.0,32.0,26.0,27.0,4.0,9.0,11.0,803.0,NaN,29010,NaN
2,313210.0,Broadwoven Fabric Mills,Industrial Equipment & Machinery,Non-Food Light Manufacturing,251.0,3461.0,392.0,213.0,151.0,76.0,53.0,25.0,20.0,17.0,4659.0,NaN,74496,NaN
3,313220.0,Narrow Fabric Mills and Schiffli Machine Embro...,Industrial Equipment & Machinery,Non-Food Light Manufacturing,46.0,214.0,61.0,52.0,46.0,20.0,17.0,5.0,0.0,2.0,463.0,NaN,11595,NaN
4,313230.0,Nonwoven Fabric Mills,Industrial Equipment & Machinery,Non-Food Light Manufacturing,43.0,65.0,19.0,21.0,30.0,22.0,12.0,9.0,3.0,5.0,229.0,NaN,16003,6000.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,335129.0,Other Lighting Equipment Manufacturing,Industrial Equipment & Machinery,Non-Food Light Manufacturing,103.0,1239.0,181.0,121.0,109.0,33.0,35.0,8.0,3.0,9.0,1841.0,NaN,32225,6279.000
236,337124.0,Metal Household Furniture Manufacturing,Industrial Equipment & Machinery,Non-Food Light Manufacturing,26.0,190.0,65.0,56.0,33.0,18.0,21.0,4.0,1.0,1.0,415.0,NaN,11105,NaN
237,337125.0,Household Furniture (except Wood and Metal) Ma...,Industrial Equipment & Machinery,Non-Food Light Manufacturing,23.0,283.0,54.0,45.0,25.0,11.0,11.0,2.0,3.0,1.0,458.0,NaN,9244,4234.973
238,811212.0,Computer and Office Machine Repair and Mainten...,Industrial Equipment & Machinery,IEM Sales and Service,570.0,10852.0,1247.0,540.0,224.0,56.0,35.0,16.0,10.0,2.0,13552.0,NaN,72198,NaN
239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total Employee Estimated,13317671,NaN

In [ ]:
merge_df["mean"] = merge_df["mean"].fillna(merge_df['mean'].mean())

In [ ]:
merge_df

,NAICS Code,2022 NAICS Title,Vertical,Sub-vertical,Uncoded records,1 - 4 employees,5 - 9 employees,10 - 19 employees,20 - 49 employees,50 - 99 employees,100 - 249 employees,250 - 499 employees,500 - 999 employees,"1,000+ employees",Grand Total,Unnamed: 15,Total Employees,mean
0,312230.0,Tobacco Manufacturing,Industrial Equipment & Machinery,Non-Food Light Manufacturing,75.0,244.0,49.0,27.0,12.0,13.0,13.0,7.0,3.0,12.0,455.0,NaN,21781,25437.500000
1,313110.0,"Fiber, Yarn, and Thread Mills",Industrial Equipment & Machinery,Non-Food Light Manufacturing,99.0,504.0,51.0,40.0,32.0,26.0,27.0,4.0,9.0,11.0,803.0,NaN,29010,9386.510125
2,313210.0,Broadwoven Fabric Mills,Industrial Equipment & Machinery,Non-Food Light Manufacturing,251.0,3461.0,392.0,213.0,151.0,76.0,53.0,25.0,20.0,17.0,4659.0,NaN,74496,9386.510125
3,313220.0,Narrow Fabric Mills and Schiffli Machine Embro...,Industrial Equipment & Machinery,Non-Food Light Manufacturing,46.0,214.0,61.0,52.0,46.0,20.0,17.0,5.0,0.0,2.0,463.0,NaN,11595,9386.510125
4,313230.0,Nonwoven Fabric Mills,Industrial Equipment & Machinery,Non-Food Light Manufacturing,43.0,65.0,19.0,21.0,30.0,22.0,12.0,9.0,3.0,5.0,229.0,NaN,16003,6000.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,335129.0,Other Lighting Equipment Manufacturing,Industrial Equipment & Machinery,Non-Food Light Manufacturing,103.0,1239.0,181.0,121.0,109.0,33.0,35.0,8.0,3.0,9.0,1841.0,NaN,32225,6279.000000
236,337124.0,Metal Household Furniture Manufacturing,Industrial Equipment & Machinery,Non-Food Light Manufacturing,26.0,190.0,65.0,56.0,33.0,18.0,21.0,4.0,1.0,1.0,415.0,NaN,11105,9386.510125
237,337125.0,Household Furniture (except Wood and Metal) Ma...,Industrial Equipment & Machinery,Non-Food Light Manufacturing,23.0,283.0,54.0,45.0,25.0,11.0,11.0,2.0,3.0,1.0,458.0,NaN,9244,4234.973000
238,811212.0,Computer and Office Machine Repair and Mainten...,Industrial Equipment & Machinery,IEM Sales and Service,570.0,10852.0,1247.0,540.0,224.0,56.0,35.0,16.0,10.0,2.0,13552.0,NaN,72198,9386.510125
239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total Employee Estimated,13317671,9386.510125

In [ ]:
merge_df.to_excel("merge_df.xlsx")

In [ ]:
NAICS_Sector = []

In [ ]:
for i in range(len(company_df)-1):
    NAICS_Sector.append(int(str(company_df["NAICS Code"][i])[:3]))

In [ ]:
NAICS_Sector

[312,
 313,
 313,
 313,
 313,
 313,
 313,
 313,
 314,
 314,
 314,
 314,
 314,
 315,
 315,
 315,
 315,
 316,
 316,
 316,
 323,
 323,
 323,
 323,
 325,
 325,
 325,
 325,
 325,
 325,
 325,
 325,
 325,
 325,
 325,
 325,
 325,
 325,
 325,
 325,
 325,
 325,
 325,
 325,
 325,
 325,
 325,
 325,
 325,
 325,
 326,
 326,
 326,
 326,
 326,
 326,
 326,
 326,
 326,
 326,
 326,
 326,
 326,
 326,
 327,
 327,
 327,
 327,
 327,
 327,
 327,
 327,
 327,
 327,
 327,
 327,
 327,
 332,
 332,
 332,
 332,
 332,
 332,
 332,
 332,
 332,
 332,
 332,
 332,
 332,
 332,
 332,
 332,
 332,
 332,
 332,
 332,
 332,
 332,
 332,
 332,
 332,
 332,
 332,
 332,
 332,
 332,
 332,
 333,
 333,
 333,
 333,
 333,
 333,
 333,
 333,
 333,
 333,
 333,
 333,
 333,
 333,
 333,
 333,
 333,
 333,
 333,
 333,
 333,
 333,
 333,
 333,
 333,
 333,
 333,
 333,
 333,
 333,
 333,
 333,
 333,
 333,
 334,
 334,
 334,
 334,
 334,
 334,
 334,
 334,
 334,
 334,
 334,
 334,
 334,
 334,
 334,
 334,
 334,
 334,
 334,
 335,
 335,
 335,
 335,
 335,
 336,
 336,
 336,
 336,
 336,
 336,
 336,
 336,
 336,
 336,
 337,
 337,
 337,
 337,
 337,
 337,
 337,
 337,
 337,
 337,
 337,
 339,
 339,
 339,
 339,
 339,
 339,
 339,
 339,
 339,
 339,
 339,
 423,
 423,
 423,
 424,
 424,
 424,
 424,
 424,
 532,
 532,
 532,
 561,
 561,
 561,
 561,
 561,
 562,
 811,
 315,
 315,
 315,
 315,
 315,
 316,
 316,
 333,
 333,
 333,
 333,
 333,
 333,
 333,
 334,
 334,
 335,
 335,
 335,
 335,
 337,
 337,
 811]

In [ ]:
NAICS_Sector.append('')

In [ ]:
len(NAICS_Sector)

240

In [ ]:
len(company_df)

240

In [ ]:
company_df["NAICS_Sector"] = NAICS_Sector

In [ ]:
company_df

,NAICS Code,2022 NAICS Title,Vertical,Sub-vertical,Uncoded records,1 - 4 employees,5 - 9 employees,10 - 19 employees,20 - 49 employees,50 - 99 employees,100 - 249 employees,250 - 499 employees,500 - 999 employees,"1,000+ employees",Grand Total,Unnamed: 15,Total Employees,NAICS_Sector
0,312230.0,Tobacco Manufacturing,Industrial Equipment & Machinery,Non-Food Light Manufacturing,75.0,244.0,49.0,27.0,12.0,13.0,13.0,7.0,3.0,12.0,455.0,NaN,21781,312
1,313110.0,"Fiber, Yarn, and Thread Mills",Industrial Equipment & Machinery,Non-Food Light Manufacturing,99.0,504.0,51.0,40.0,32.0,26.0,27.0,4.0,9.0,11.0,803.0,NaN,29010,313
2,313210.0,Broadwoven Fabric Mills,Industrial Equipment & Machinery,Non-Food Light Manufacturing,251.0,3461.0,392.0,213.0,151.0,76.0,53.0,25.0,20.0,17.0,4659.0,NaN,74496,313
3,313220.0,Narrow Fabric Mills and Schiffli Machine Embro...,Industrial Equipment & Machinery,Non-Food Light Manufacturing,46.0,214.0,61.0,52.0,46.0,20.0,17.0,5.0,0.0,2.0,463.0,NaN,11595,313
4,313230.0,Nonwoven Fabric Mills,Industrial Equipment & Machinery,Non-Food Light Manufacturing,43.0,65.0,19.0,21.0,30.0,22.0,12.0,9.0,3.0,5.0,229.0,NaN,16003,313
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,335129.0,Other Lighting Equipment Manufacturing,Industrial Equipment & Machinery,Non-Food Light Manufacturing,103.0,1239.0,181.0,121.0,109.0,33.0,35.0,8.0,3.0,9.0,1841.0,NaN,32225,335
236,337124.0,Metal Household Furniture Manufacturing,Industrial Equipment & Machinery,Non-Food Light Manufacturing,26.0,190.0,65.0,56.0,33.0,18.0,21.0,4.0,1.0,1.0,415.0,NaN,11105,337
237,337125.0,Household Furniture (except Wood and Metal) Ma...,Industrial Equipment & Machinery,Non-Food Light Manufacturing,23.0,283.0,54.0,45.0,25.0,11.0,11.0,2.0,3.0,1.0,458.0,NaN,9244,337
238,811212.0,Computer and Office Machine Repair and Mainten...,Industrial Equipment & Machinery,IEM Sales and Service,570.0,10852.0,1247.0,540.0,224.0,56.0,35.0,16.0,10.0,2.0,13552.0,NaN,72198,811
239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total Employee Estimated,13317671,

In [ ]:
unique_sector = pd.unique(NAICS_Sector)

In [ ]:
sector_df = pd.DataFrame({'NAICS_Sector':unique_sector})

In [ ]:
sector_df.to_excel("sector.xlsx")

In [ ]:
blue_collar = pd.read_excel("sector.xlsx")

In [ ]:
blue_collar

    Unnamed: 0  NAICS_Sector  Blue_collar_ratio  blue_collar    total
0            0           312           0.701992       9022.0  12852.0
1            1           313           0.779338         77.7     99.7
2            2           314           0.734870         76.5    104.1
3            3           315           0.736140         71.7     97.4
4            4           316           0.701992       9022.0  12852.0
5            5           323           0.678882        257.5    379.3
6            6           325           0.632259        572.7    905.8
7            7           326           0.751720        568.3    756.0
8            8           327           0.747655        310.8    415.7
9            9           332           0.730889       1056.5   1445.5
10          10           333           0.642026        706.1   1099.8
11          11           334           0.605478        661.0   1091.7
12          12           335           0.671627        275.3    409.9
13          13           336           0.709950       1209.4   1703.5
14          14           337           0.732321        279.6    381.8
15          15           339           0.647417        414.8    640.7
16          16           423           0.797537       2583.7   3239.6
17          17           424           0.810421       1734.3   2140.0
18          18           532           0.838299        447.4    533.7
19          19           561           0.878067       7906.2   9004.1
20          20           562           0.835743        398.9    477.3
21          21           811           0.807706       1150.9   1424.9

In [ ]:
ppe_df = pd.merge(company_df, blue_collar, left_on="NAICS_Sector", right_on="NAICS_Sector", how='left')

In [ ]:
ppe_df

,NAICS Code,2022 NAICS Title,Vertical,Sub-vertical,Uncoded records,1 - 4 employees,5 - 9 employees,10 - 19 employees,20 - 49 employees,50 - 99 employees,...,500 - 999 employees,"1,000+ employees",Grand Total,Unnamed: 15,Total Employees,NAICS_Sector,Unnamed: 0,Blue_collar_ratio,blue_collar,total
0,312230.0,Tobacco Manufacturing,Industrial Equipment & Machinery,Non-Food Light Manufacturing,75.0,244.0,49.0,27.0,12.0,13.0,...,3.0,12.0,455.0,NaN,21781,312,0.0,0.701992,9022.0,12852.0
1,313110.0,"Fiber, Yarn, and Thread Mills",Industrial Equipment & Machinery,Non-Food Light Manufacturing,99.0,504.0,51.0,40.0,32.0,26.0,...,9.0,11.0,803.0,NaN,29010,313,1.0,0.779338,77.7,99.7
2,313210.0,Broadwoven Fabric Mills,Industrial Equipment & Machinery,Non-Food Light Manufacturing,251.0,3461.0,392.0,213.0,151.0,76.0,...,20.0,17.0,4659.0,NaN,74496,313,1.0,0.779338,77.7,99.7
3,313220.0,Narrow Fabric Mills and Schiffli Machine Embro...,Industrial Equipment & Machinery,Non-Food Light Manufacturing,46.0,214.0,61.0,52.0,46.0,20.0,...,0.0,2.0,463.0,NaN,11595,313,1.0,0.779338,77.7,99.7
4,313230.0,Nonwoven Fabric Mills,Industrial Equipment & Machinery,Non-Food Light Manufacturing,43.0,65.0,19.0,21.0,30.0,22.0,...,3.0,5.0,229.0,NaN,16003,313,1.0,0.779338,77.7,99.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,335129.0,Other Lighting Equipment Manufacturing,Industrial Equipment & Machinery,Non-Food Light Manufacturing,103.0,1239.0,181.0,121.0,109.0,33.0,...,3.0,9.0,1841.0,NaN,32225,335,12.0,0.671627,275.3,409.9
236,337124.0,Metal Household Furniture Manufacturing,Industrial Equipment & Machinery,Non-Food Light Manufacturing,26.0,190.0,65.0,56.0,33.0,18.0,...,1.0,1.0,415.0,NaN,11105,337,14.0,0.732321,279.6,381.8
237,337125.0,Household Furniture (except Wood and Metal) Ma...,Industrial Equipment & Machinery,Non-Food Light Manufacturing,23.0,283.0,54.0,45.0,25.0,11.0,...,3.0,1.0,458.0,NaN,9244,337,14.0,0.732321,279.6,381.8
238,811212.0,Computer and Office Machine Repair and Mainten...,Industrial Equipment & Machinery,IEM Sales and Service,570.0,10852.0,1247.0,540.0,224.0,56.0,...,10.0,2.0,13552.0,NaN,72198,811,21.0,0.807706,1150.9,1424.9
239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Total Employee Estimated,13317671,,NaN,NaN,NaN,NaN

In [ ]:
ppe_df["blue_collar_employee"] = round(ppe_df["Total Employees"] * ppe_df["Blue_collar_ratio"], 0)

In [ ]:
ppe_df

,NAICS Code,2022 NAICS Title,Vertical,Sub-vertical,Uncoded records,1 - 4 employees,5 - 9 employees,10 - 19 employees,20 - 49 employees,50 - 99 employees,...,"1,000+ employees",Grand Total,Unnamed: 15,Total Employees,NAICS_Sector,Unnamed: 0,Blue_collar_ratio,blue_collar,total,blue_collar_employee
0,312230.0,Tobacco Manufacturing,Industrial Equipment & Machinery,Non-Food Light Manufacturing,75.0,244.0,49.0,27.0,12.0,13.0,...,12.0,455.0,NaN,21781,312,0.0,0.701992,9022.0,12852.0,15290.0
1,313110.0,"Fiber, Yarn, and Thread Mills",Industrial Equipment & Machinery,Non-Food Light Manufacturing,99.0,504.0,51.0,40.0,32.0,26.0,...,11.0,803.0,NaN,29010,313,1.0,0.779338,77.7,99.7,22609.0
2,313210.0,Broadwoven Fabric Mills,Industrial Equipment & Machinery,Non-Food Light Manufacturing,251.0,3461.0,392.0,213.0,151.0,76.0,...,17.0,4659.0,NaN,74496,313,1.0,0.779338,77.7,99.7,58058.0
3,313220.0,Narrow Fabric Mills and Schiffli Machine Embro...,Industrial Equipment & Machinery,Non-Food Light Manufacturing,46.0,214.0,61.0,52.0,46.0,20.0,...,2.0,463.0,NaN,11595,313,1.0,0.779338,77.7,99.7,9036.0
4,313230.0,Nonwoven Fabric Mills,Industrial Equipment & Machinery,Non-Food Light Manufacturing,43.0,65.0,19.0,21.0,30.0,22.0,...,5.0,229.0,NaN,16003,313,1.0,0.779338,77.7,99.7,12472.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,335129.0,Other Lighting Equipment Manufacturing,Industrial Equipment & Machinery,Non-Food Light Manufacturing,103.0,1239.0,181.0,121.0,109.0,33.0,...,9.0,1841.0,NaN,32225,335,12.0,0.671627,275.3,409.9,21643.0
236,337124.0,Metal Household Furniture Manufacturing,Industrial Equipment & Machinery,Non-Food Light Manufacturing,26.0,190.0,65.0,56.0,33.0,18.0,...,1.0,415.0,NaN,11105,337,14.0,0.732321,279.6,381.8,8132.0
237,337125.0,Household Furniture (except Wood and Metal) Ma...,Industrial Equipment & Machinery,Non-Food Light Manufacturing,23.0,283.0,54.0,45.0,25.0,11.0,...,1.0,458.0,NaN,9244,337,14.0,0.732321,279.6,381.8,6770.0
238,811212.0,Computer and Office Machine Repair and Mainten...,Industrial Equipment & Machinery,IEM Sales and Service,570.0,10852.0,1247.0,540.0,224.0,56.0,...,2.0,13552.0,NaN,72198,811,21.0,0.807706,1150.9,1424.9,58315.0
239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Total Employee Estimated,13317671,,NaN,NaN,NaN,NaN,NaN

In [ ]:
ppe_df.to_excel("ppe.xlsx")

In [ ]:
int(str(company_df["NAICS Code"][1])[:3])

313